* {
  box-sizing: border-box;
}

*:before, *:after {
  box-sizing: inherit;
}

html {
  font-size: 56.25%;
  height: 100%;
}

body {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 1.6rem;
  overflow: hidden;
}

html, 
body, 
#root,
.App {
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}